<div class="container mt-2"> 
    <div class="row image">
        <div class="col-sm-12 col-md-8">
            <img src="assets/test/1.jpg"> 
        </div> 
        <div class="col-sm-12 col-md-4"> 
            <div class="row card m-1 text-center">
                <h1 class="m-auto">Key Features</h1> 
            </div> 
            <div class="row key_features"> 
                <div class="col-12"> 
                    <br>
                    <i class="material-icons">check</i>&nbsp;&nbsp;
                    <span>A/C Frequency Drive</span> 
                    <hr>
                    <i class="material-icons">check</i>&nbsp;&nbsp;
                    <span>Transmission by Timing Belts</span> 
                    <hr>
                    <i class="material-icons">check</i>&nbsp;&nbsp;
                    <span>Electric Wire hoist</span>
                    <hr>
                    <i class="material-icons">check</i>&nbsp;&nbsp;
                    <span>Digital Length counter meter</span> 
                </div> 
            </div>
        </div>
    </div> 
    <div class="row"> 
        <table class="table table-success table-striped table-hover"> 
            <tr style="color: white; background-color: rgb(240, 64, 64);">
                <th>MODEL</th>
                <th>MTR / MONO / 75</th>
                <th>MTR / MONO / GF / 80</th>
                <th>MTR / MONO / GF / 90</th>
            <tr> 
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr> 
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr> 
        </table>
    </div>
</div> 
<app-form-quote></app-form-quote>