<footer class="footer bg-dark text-light">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
                <h4>Address</h4>
                <p>Parth Plastomech Industries, K-1/830, B/H, S.T. Workshop, Sitafal Sabu Street, Chitra GIDC,
                    Bhavnagar.</p>
                <p>Gujarat, India, 364004</p>
            </div>
            <div class="col-md-3">
                <h4>Follow Us On</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Linkdin</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact Us At</h4>
                <p>Email: parthplastrope@gmail.com</p>
                <p>Phone: <br>+91 942 744 8173 <br>+91 884 923 9622<br>+91 953 782 8257<br>+91 972 720 8351</p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2023 Parthplastomech.com. All rights reserved.</p>
        </div>
    </div>
</footer>