<div class="container mt-2">
    <h1 style="background-image: url('assets/test/back_img.jpg'); height: 100px; opacity: 20%;">
        <b style="opacity: 100% !important;">Rope Coiling Machine</b>
    </h1> 
    
    <div style="display: flex; flex-wrap: wrap;"> 
        <div style="width: 50%;">
            <img src="assets/test/yarn_twister_1.jpg" class="img_product">
        </div>
        <div style="width: 50%;">
            <img src="assets/test/yarn_twister_2.jpg" class="img_product">
        </div>
        <div style="width: 100%; background:green;" class="mt-5">
            <h1 class="card" style="text-align: center; width:100%;"><b>Technical Specifications</b></h1>
            <table>
                <tr>
                    <td><b>Model</b></td>
                    <td>PPI/PYT</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Range</b></td>
                    <td>5500 to 19000 Denier
                    </td>
                </tr>
                <hr>
                <tr>
                    <td><b>Flyer RPM</b></td>
                    <td>2600 ( max.)</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Lay</b></td>
                    <td>S or Z</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Pay off package</b></td>
                    <td>250 mm Dia x 300 mm Traverse***</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Capacity</b></td>
                    <td>25 kg (max.)</td>
                </tr>
                <hr>
                <tr>
                    <td style="width:175px"><b>Package in Each Strand</b></td>
                    <td>1</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Final Package Size</b></td>
                    <td>150 mm x 150 mm<br>250 mm x 250 mm<br>300 mm x 300 mm</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-12 mt-5">
        <div class="row card m-1 text-center">
            <h1 class="m-auto">Key Features</h1>
        </div>
        <div class="row key_features">
            <div class="col-12">
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>AC frequency drive 
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Auto stop system after yarn breakage
                </span> <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Power transmission by V-Belt</span> <br>
            </div> 
        </div> 
    </div> 
    <!-- npm run ng g c formQuote  --> 
<app-form-quote></app-form-quote> 

<div class="container mt-5">
	<h1>Related Products</h1>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-6">
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-four-eight-mm">Rope Making Machine 4-8mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-six-twelve-mm">Rope Making Machine 6-12mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-eight-sixteen-mm">Rope Making Machine 8-16mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-twelve-twenty-four-mm">Rope Making Machine 12-24mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-eighteen-fouryt-mm">Rope Making Machine 20-40mm</a><hr>
        </div>
	</div>
</div>
</div> 
<br>
<app-footer></app-footer>