<div class="container mt-2">
    <h1 style="background-image: url('assets/test/back_img.jpg'); height: 100px; opacity: 20%;">
        <b style="opacity: 100% !important;">Rope Making Machine (8 mm to 16 mm)</b>
    </h1> 
    
    <div style="display: flex; flex-wrap: wrap;"> 
        <div style="width: 70%;">
            <img src="assets/test/8_to_6.jpg" class="img_product">
        </div>
        <div style="width: 30%;">
            <h1 class="card" style="text-align: center;"><b>Technical Specifications</b></h1>
            <table>
                <tr>
                    <td><b>Rope Range</b></td>
                    <td>8 mm to 16 mm</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Strand Flyer RPM</b></td>
                    <td>900 ( max.)
                    </td>
                </tr>
                <hr>
                <tr>
                    <td><b>Rope Flyer RPM</b></td>
                    <td>450 ( max.)</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Rope Lay</b></td>
                    <td>Z</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Twist/min.</b></td>
                    <td>15 to 40 TPM</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Twist in strand</b></td>
                    <td>Adjustable</td>
                </tr>
                <hr>
                <tr>
                    <td style="width:175px"><b>Pay off package size</b></td>
                    <td>250 mm Dia X 300 mm traverse***</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Take up capacity</b></td>
                    <td>55 kg. (Approx)</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap;" class="mt-5">
        <div style="width: 63%;">
            <h2 class="card" style="text-align: center;">Available Models</h2>
            <div style="display: flex;">
                <div style="width: 33.33%;">
                    <table>
                        <tr><b>Models</b></tr>
                        <tr><b>Power capacity</b></tr>
                        <tr><b>Strand</b></tr>
                        <tr><b>Pay off package</b></tr>
                    </table>
                </div>
                <div style="width: 33.33%;">
                    <table>
                        <tr>PPI/RM-8B</tr>
                        <tr>20 HP</tr>
                        <tr>3 ply</tr>
                        <tr>3 x 16 = 48</tr>
                    </table>
                </div> 
                <div style="width: 33.33%;">
                    <table>
                        <tr>PPI/RM-8D</tr>
                        <tr>20 HP</tr>
                        <tr>4 ply</tr>
                        <tr>4 x 16 = 64</tr>
                    </table>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-5">
        <div class="row card m-1 text-center">
            <h1 class="m-auto">Key Features</h1>
        </div>
        <div class="row key_features">
            <div class="col-12">
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>AC frequency drive 
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Anti twisting unit 
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Transmission by Timing Belts
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Easy to operate
                </span> <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Auto stop system after yarn breakage
                </span> <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Digital Length counter meter</span> <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Door Sensors for safety purpose</span>
            </div> 
        </div> 
    </div> 
    <div class="col-sm-12 mt-5">
        <div class="row card m-1 text-center">
            <h1 class="m-auto">Optional Features</h1>
        </div>
        <div class="row key_features">
            <div class="col-12">
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Direct coliling head 
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Digital printer attachment
                </span> <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Electric wire hoist
                </span> <br>
            </div> 
        </div> 
    </div> 
    <!-- npm run ng g c formQuote  --> 
<app-form-quote></app-form-quote> 

<div class="container mt-5">
	<h1>Related Products</h1>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-6">
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-four-eight-mm">Rope Making Machine 4-8mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-six-twelve-mm">Rope Making Machine 6-12mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-eight-sixteen-mm">Rope Making Machine 8-16mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-twelve-twenty-four-mm">Rope Making Machine 12-24mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-eighteen-fouryt-mm">Rope Making Machine 20-40mm</a><hr>
        </div>
	</div>
</div>
</div> 
<br>
<app-footer></app-footer>