.col-product{
    padding: 10px;
}
.col-product>img{
    box-shadow: 0 0 10px 0; 
    display: flex;
    justify-content: center; 
    margin: auto;
}
.col-product>.product_name{
    box-shadow: 0 0 10px 0; 
    display: flex;
    justify-content: center; 
    margin: auto; 
    width: 75%; 
    margin-top: 5px;
}
.col-product>.product_name>h2{
    font-size: 29px; 
    margin: 10px;  
}
.col-product>img:hover{
    box-shadow: 0 0 20px 0; 
    display: flex;
    justify-content: center; 
    margin: auto; 
    border-radius: 10px;
    
}
.link_icon{
    height: 20px; 
    margin-right: 5px;
}