<div class="container mt-5">
    <div>
        <h3>About Us</h3>
    </div>
    <hr>
    <b>Welcome To Parth Plastomech Industries</b><br>
    <p>
        Established in the year, 2001, we, Parth Plastomech Industries are a leading Manufacturer, Exporter,
            Supplier
            and Trader
            of a huge range of Machinery.
        We offer a huge line of high quality machine which includes Rope Making Machine,
            PP Tape
            Fibrillated Plant, Danline Plant, Monofilament Plant, Baler Twine Extrusion Plant, PP Sutli Plant etc,
            available
            at an
            affordable price.
        All our products have gained immense appreciation from our client’s side as it has been
            catering to
            all the varying requirements of our clients since a long time.
        We manufacture our products through the latest
            machinery,
            equipment, tools that match with the current industry standards and are known for its high performance and
            bulk
            output.
        Our company is obsessed with the quality of the products being offered and therefore, we use the finest
            quality
            raw
            materials that are sourced from vendors, who hold a brilliant reputation in the market.
        We are backed by a team
            of
            skilled and talented group of people. They work incessantly hard and make sure that all the needs of our
            customers are
            fulfilled to the fullest.
        We are Leading Manufacturer and Exporter of 20 years experience of Trunkey Project for Rope Making Machines,
            HDPE
            Monofilament Extrusion Plants, PP Tape Fibrillated Extrusion Plant, Danline Extrusion Plant, Sutli Plant and
            Baler Twine
            Extrusion Plant realized the amazing growth of Plastic Industry and have seen the bright future of different
            types of
            Plastic Processing Machinery and as a result the new company was formed under the name of PARTH
            PLASTOMECH INDUSTRIES.
        </p>
</div>