<div class="container mt-5">
    <div>
        <h1>Why choose us?</h1>
    </div>
    <hr>
    <div class="row">
        <div class="mt-2 col-2 img_division"><img src="assets/test/SalseSupport.png" class="d-block w-100 choose_img" alt="..."></div>
        <div class="mt-2 col-md-4 col-sm-12 choose_text"> 
            <b>Comprehensive After-Sales Support</b>: Our commitment doesn't end with the purchase. We provide
            comprehensive
            after-sales
            support, including technical assistance, spare parts availability, and maintenance services,
        </div>
        <div class="mt-2 col-2"><img src="assets/test/SalseSupport.png" class="d-block w-100 choose_img" alt="..."></div>
        <div class="mt-2 col-md-4 col-sm-12 choose_text">
            <b>High Performance, High Efficiency</b>: Our machines deliver consistent and efficient performance,
            enabling high
            production
            rates while minimizing waste and downtime. Experience enhanced productivity with our
            cutting-edge technology.
        </div>
        <div class="mt-2 col-2"><img src="assets/test/SalseSupport.png" class="d-block w-100 choose_img" alt="..."></div>
        <div class="mt-2 col-md-4 col-sm-12 choose_text">
            <b>Easy to Operate</b>: Designed with user-friendly interfaces and intuitive controls, our machines make
            rope
            production a breeze.
        </div>
        <div class="mt-2 col-2"><img src="assets/test/SalseSupport.png" class="d-block w-100 choose_img" alt="..."></div>
        <div class="mt-2 col-md-4 col-sm-12 choose_text">
            <b>Customizable Solutions</b>: We offer a range of rope-making machines that can be customized to meet your
            specific
            requirements. From adjustable rope thickness to strand count, our machines allow you to produce ropes
            tailored to
            your exact needs.
        </div>
        <div class="mt-2 col-2"><img src="assets/test/SalseSupport.png" class="d-block w-100 choose_img" alt="..."></div>
        <div class="mt-2 col-md-4 col-sm-12 choose_text">
            <b>Team</b>: Our team of experienced engineers, designers, and technicians is dedicated to delivering
            excellence in
            every aspect of our rope-making machines. Their expertise and passion drive our continuous
            growth and success.
        </div>
        <div class="mt-2 col-2"><img src="assets/test/SalseSupport.png" class="d-block w-100 choose_img" alt="..."></div>
        <div class="mt-2 col-md-4 col-sm-12 choose_text">
            <b>Global Reach</b>: With a strong global presence, our rope-making machines have earned recognition and
            trust from
            customers
            around the world. We are proud to contribute to the success of businesses in various industries across
            different continents.
        </div>
        <div class="mt-2 col-2"><img src="assets/test/SalseSupport.png" class="d-block w-100 choose_img" alt="..."></div>
        <div class="mt-2 col-10 choose_text mt-5">
            <b>Customer Satisfaction</b>: Ultimately, our goal is customer satisfaction. We measure our success by the
            success
            of our
            customers, and we strive to exceed their expectations at every step, ensuring their long-term success.
        </div>
    </div>
</div>