<div class="container mt-5">
	<h1>Our Products Range :</h1>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-4 col-product"><img src="assets/test/hdpe.jpg" class="w-75" alt="...">
			<div class="product_name">
				<h4 style="text-align: center;">HDPE Monofilament <br> yarn Extrusion plant</h4>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 col-product"><img src="assets/test/pp_tape.jpg" class="w-75" alt="...">
			<div class="product_name">
				<h4>PP Tape Fibrillated Extrusion Plant</h4>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 col-product"><img src="assets/test/bins_winder.jpg" class="w-75" alt="...">
			<div class="product_name">
				<h4>PP Tape Fibrillated Extrusion Plant</h4>
			</div></div>
			<div class="col-sm-12 col-md-4 col-product"><img src="assets/test/2_to_6.jpg" class="w-75" alt="...">
				<div class="product_name">
					<h4 style="text-align: center;">Rope Making Machine <br>
						(2 mm to 6 mm)
					</h4>
				</div></div>
				<div class="col-sm-12 col-md-4 col-product"><img src="assets/test/12_to_24.jpg" class="w-75" alt="...">
					<div class="product_name">
						<h4 style="text-align: center;">Rope Making Machine<br> 
							(16 mm to 32 mm)
						</h4>
					</div></div>
					<div class="col-sm-12 col-md-4 col-product"><img src="assets/test/8_to_6.jpg" class="w-75" alt="...">
						<div class="product_name">
							<h4 style="text-align: center;">Rope Making Machine<br>
								(8 mm to 16 mm)
							</h4>
						</div></div>
	</div>
</div>