<!-- npm run ng g c formQuote  -->
<div class="container mt-5">
	<h1>Products</h1>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-product"><img src="assets/test/1.jpg" class="d-block w-100" alt="..."></div>
		<div class="col-sm-12 col-md-6 col-product"><img src="assets/test/1.jpg" class="d-block w-100" alt="..."></div>
		<div class="col-sm-12 col-md-6 col-product"><img src="assets/test/1.jpg" class="d-block w-100" alt="..."></div>
		<div class="col-sm-12 col-md-6 col-product"><img src="assets/test/1.jpg" class="d-block w-100" alt="..."></div>
	</div>
</div>