<div class="container mt-5">
	<h1>Products</h1>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-product"><img src="assets/test/1.jpg" class="w-75" alt="...">
            <div class="product_name"><h2>Product name</h2></div>
        </div>
		<div class="col-sm-12 col-md-6 col-product"><img src="assets/test/1.jpg" class="w-75" alt="..."></div>
		<div class="col-sm-12 col-md-6 col-product"><img src="assets/test/1.jpg" class="w-75" alt="..."></div>
		<div class="col-sm-12 col-md-6 col-product"><img src="assets/test/1.jpg" class="w-75" alt="..."></div>
	</div>
</div>