.col-product{
    padding: 10px;
}
.col-product>img{
    box-shadow: 3px 3px 10px 0px; 
    display: flex;
    justify-content: center; 
    margin: auto;
}
.col-product>.product_name{
    display: flex;
    justify-content: center; 
    margin: auto; 
    width: 75%; 
    margin-top: 15px;
}
.col-product>.product_name>h2{
    font-size: 29px; 
    margin: 10px;  
}
.col-product>img:hover{
    box-shadow: 0 0 20px 0; 
    display: flex;
    justify-content: center; 
    margin: auto; 
    border-radius: 10px;
    
}
@media screen and (max-width: 480px) {
    .col-product, img{
        height: 250px !important; 
        margin-top: 10px;
    } 
    .col-product:hover{
        box-shadow: 0 0 0 0;
    }
  }