.col-product{
    padding: 10px;
}
.col-product:hover{
    box-shadow: 0 0 10px 0;
}
@media screen and (max-width: 480px) {
    .col-product, img{
        height: 250px !important; 
        margin-top: 10px;
    } 
    .col-product:hover{
        box-shadow: 0 0 0 0;
    }
  }