<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Parthplastomech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active"><button
                            mat-button>Home</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <button mat-button [matMenuTriggerFor]="about">
                            <div class="v-align-center"><span>Products</span> <i
                                    class="material-icons">arrow_drop_down</i>
                            </div>
                        </button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active"><button mat-button>About
                            Us</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active"><button
                            mat-button>Contact</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<mat-menu #about="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="plastic_extrusion_plants">
        <div class="v-align-center"><span>Plastic Extrusion Plants</span>
        </div>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="rope_making_machine">
        <div class="v-align-center"><span>Rope Making Machine</span>
        </div>
    </button>
    <button mat-menu-item>Ply Yarn Twister</button>
    <button mat-menu-item>Bobbin Winder</button>
    <button mat-menu-item>Cheeze Winde</button>
    <button mat-menu-item>Roll Winder</button>
    <button mat-menu-item>Inflow Twister</button>
    <button mat-menu-item>Rope coiling Machine</button>
</mat-menu>
<mat-menu #plastic_extrusion_plants="matMenu">
    <button mat-menu-item>PP Tape Fibrillated Extrusion Plant</button>
    <button mat-menu-item>PP / HDPE Monofilament Extrusion Yarn Plant</button>
    <button mat-menu-item>Danline Extrusion Plant</button>
    <button mat-menu-item>Sutil Extrusion Plant</button>
    <button mat-menu-item>Baler Twine Extrusion Plant</button>
    <button mat-menu-item>Mono Danline Extrusion Plant</button>
</mat-menu>
<mat-menu #rope_making_machine="matMenu">
    <button mat-menu-item>Rope Making Machine 2-6mm</button>
    <button mat-menu-item>Rope Making Machine 4-8mm</button>
    <button mat-menu-item>Rope Making Machine 6-12mm</button>
    <button mat-menu-item>Rope Making Machine 12-24mm</button>
    <button mat-menu-item>Rope Making Machine 16-40mm</button>
</mat-menu>