<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Parthplastomech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown 1
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Submenu 1</a>
                        </li>
                        <li class="dropdown" data-bs-auto-close="false">
                            <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Submenu 2
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Nested Item 1</a></li>
                                <li><a class="dropdown-item" href="#">Nested Item 2</a></li>
                                <li><a class="dropdown-item" href="#">Nested Item 3</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Submenu 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<p class="aa">asdas</p>
<script>
    $(document).ready(function () {
        $(".aa").click(function () {
            alert("sdjakfasfg")
        });
    });
</script>