<div class="container mt-2">
    <h1 style="background-image: url('assets/test/back_img.jpg'); height: 100px; opacity: 20%;">
        <b style="opacity: 100% !important;">Cheese Winder</b>
    </h1> 
    
    <div style="display: block;"> 
        <div style="width: 100%;">
            <img src="assets/test/Image_not_available.png" class="img_product" style="height: 300px; width: 300px; margin-left: 370px;">
        </div>
        <div style="width: 30%;" class="mt-5">
            <h1 class="card" style="text-align: center;"><b>Technical Specifications</b></h1>
            <table>
                <tr>
                    <td><b>Model</b></td>
                    <td>PPI/BW</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Spindle</b></td>
                    <td>2 to 24 spindles (in Even No.)
                    </td>
                </tr>
                <hr>
                <tr>
                    <td><b>Denier Range</b></td>
                    <td>4000 ( max.)</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Winding Type</b></td>
                    <td>Flange winding</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Motor</b></td>
                    <td>1 HP (torque)</td>
                </tr>
                <hr>
                <tr>
                    <td><b>Package</b></td>
                    <td>250 mm Dia X 300 mm traverse***</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-12 mt-5">
        <div class="row card m-1 text-center">
            <h1 class="m-auto">Key Features</h1>
        </div>
        <div class="row key_features">
            <div class="col-12">
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Each station has individual torque motor  
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Low Power consumption
                </span> 
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Low maintenance cost
                </span>
            </div> 
        </div> 
    </div> 
    <!-- npm run ng g c formQuote  --> 
<app-form-quote></app-form-quote> 

<div class="container mt-5">
	<h1>Related Products</h1>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-6">
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-four-eight-mm">Rope Making Machine 4-8mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-six-twelve-mm">Rope Making Machine 6-12mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-eight-sixteen-mm">Rope Making Machine 8-16mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-twelve-twenty-four-mm">Rope Making Machine 12-24mm</a><hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a routerLink="/app-rope-making-machine-eighteen-fouryt-mm">Rope Making Machine 20-40mm</a><hr>
        </div>
	</div>
</div>
</div> 
<br>
<app-footer></app-footer>