<div class="container mt-2">
    <h1 style="background-image: url('assets/test/back_img.jpg'); height: 100px; opacity: 20%;">
        <b style="opacity: 100% !important;">Ply yarn twister</b>
    </h1>

    <div style="display: flex; flex-wrap: wrap;">
        <div style="width: 50%;">
            <img src="assets/test/rope_coiling_1.jpg" class="img_product">
        </div>
        <div style="width: 50%;">
            <img src="assets/test/rope_coiling_2.jpg" class="img_product">
        </div>
        <div style="width: 100%;" class="mt-5">
            <h1 class="card" style="text-align: center;"><b>Technical Specifications</b></h1>
        </div>
        <div style="width: 50%;" class="mt-4 p-3">
            <div class="card p-2">
                <table>
                    <tr>
                        <td><b>Model</b></td>
                        <td>PPI/CL-2</td>
                    </tr>
                    <hr>
                    <tr>
                        <td><b>Rope Range</b></td>
                        <td>2 mm to 6 mm</td>
                    </tr>
                    <hr>
                    <tr>
                        <td><b>RPM</b></td>
                        <td>400 ( max.)</td>
                    </tr>
                    <hr>
                    <tr>
                        <td><b>Coil Size</b></td>
                        <td>2.5kg (Approx)</td>
                    </tr>
                    <hr>
                    <tr>
                        <td><b>Motor</b></td>
                        <td>1 HP (AC)</td>
                    </tr>
                </table>
            </div>
        </div>
            <div style="width: 50%;" class="mt-4 p-3">
                <div class="card p-2">
                    <table>
                        <tr>
                            <td><b>Model</b></td>
                            <td>PPI/CL-6</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Rope Range</b></td>
                            <td>6 mm to 12 mm</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>RPM</b></td>
                            <td>250 ( max.)</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Coil Size</b></td>
                            <td>25kg (Approx)</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Motor</b></td>
                            <td>2 HP (AC)</td>
                        </tr>
                    </table>
            </div>
        </div>
            <div style="width: 50%;" class="mt-4 p-3">
                <div class="card p-2">
                    <table>
                        <tr>
                            <td><b>Model</b></td>
                            <td>PPI/CL-12</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Rope Range</b></td>
                            <td>12 mm to 28 mm</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>RPM</b></td>
                            <td>150 ( max.)</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Coil Size</b></td>
                            <td>100kg (Approx)</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Motor</b></td>
                            <td>3 HP (AC)</td>
                        </tr>
                    </table>
                </div>
        </div>
            <div style="width: 50%;" class="mt-4 p-3">
                <div class="card p-2">
                    <table>
                        <tr>
                            <td><b>Model</b></td>
                            <td>PPI/CL-16</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Rope Range</b></td>
                            <td>16 mm to 40 mm</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>RPM</b></td>
                            <td>150 ( max.)</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Coil Size</b></td>
                            <td>160kg (Approx)</td>
                        </tr>
                        <hr>
                        <tr>
                            <td><b>Motor</b></td>
                            <td>7.5 HP (AC)</td>
                        </tr>
                    </table>
                </div>
        </div>

    </div>
    <div class="col-sm-12 mt-5">
        <div class="row card m-1 text-center">
            <h1 class="m-auto">Key Features</h1>
        </div>
        <div class="row key_features">
            <div class="col-12">
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Easy to operate
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Digital length counter meter
                </span>
                <br><i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Layer to layer uniform winding
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>AC frequency drive
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Auto stop system after yarn breakage
                </span> <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Power transmission by V-Belt</span> <br>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-5">
        <div class="row card m-1 text-center">
            <h1 class="m-auto">Key Features</h1>
        </div>
        <div class="row key_features">
            <div class="col-12">
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Digital printer
                </span>
                <br>
                <i class="material-icons">check</i>&nbsp;&nbsp;
                <span>Electronic wire hoist
                </span>
            </div>
        </div>
    </div>
    <!-- npm run ng g c formQuote  -->
    <app-form-quote></app-form-quote>

    <div class="container mt-5">
        <h1>Related Products</h1>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="assets/test/arrow-right.png" class="link_icon"><a
                    routerLink="/app-rope-making-machine-four-eight-mm">Rope Making Machine 4-8mm</a>
                <hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a
                    routerLink="/app-rope-making-machine-six-twelve-mm">Rope Making Machine 6-12mm</a>
                <hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a
                    routerLink="/app-rope-making-machine-eight-sixteen-mm">Rope Making Machine 8-16mm</a>
                <hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a
                    routerLink="/app-rope-making-machine-twelve-twenty-four-mm">Rope Making Machine 12-24mm</a>
                <hr>
                <img src="assets/test/arrow-right.png" class="link_icon"><a
                    routerLink="/app-rope-making-machine-eighteen-fouryt-mm">Rope Making Machine 20-40mm</a>
                <hr>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>