.link_icon{
    height: 20px; 
    margin-right: 5px;
}


@media (max-width: 393px) {
    html{
        width: 233px;
    }
    * {
        word-wrap: break-word;
      }
element.style {
    height: 38px;
}
      .logo[_ngcontent-ng-c482837332] {
        height: 66px;
        background-color: aliceblue;
        width: 160px;
    }
    img{
        width: 393px;
        height: 400px;
    }
    #Technicalspecification{
        background-color: black;
    }
    .choose_img{
        height: 20px;
        width: 20px;
    }

element.style {
    text-align: center;
    height: 851px;
    width: 393px;
}
.w-75 {
    width: 100%!important;
}
.p-5 {
    padding: 5px!important;
}
}