/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} 
/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparent background for the track */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Transparent color for the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

/* For Firefox */
/* Note: Firefox doesn't support transparent scrollbar tracks */
/* It only supports customizing the thumb color */
body {
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; 
}
.image{
    max-height: 450px; 
}
.key_features{ 
    overflow-y: scroll;
}
.img_product{
    height: 400px; 
    width: 90%; 
    box-shadow: 0 0 10px 0;

}
.choose_img{
    height: 400px; 
}
